.title{
    display: flex;
    justify-content: center;
}
.title img{
    width: 100vh;
}
.title h1{
    position: absolute;
    text-align: center;
    font-size: 50px;
    color: White;
    font-family: URW Chancery L, cursive;
    top: 120px;
}
.menu {
    position: absolute;
    right: 27%;
    top: 2%;
}
#menu{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}
.menu li{
    list-style: none;
}
.menu a:link{
    text-decoration: none;
}
.menu a:hover{
    text-decoration: underline;
}
#undertext{
    text-align: center;
}